.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dropdown-container {  
  position: relative;  
  display: inline-block;  
}  
  
.dropdown-trigger {  
  /* 设置触发器的样式 */   
  cursor: pointer;  
}
.dropdown-menu {  
  /* 设置下拉菜单的样式 */  
  position: absolute;  
  top: 100%; /* 使其位于触发器下方 */  
  left: 0;  
  padding: 10px;  
  background-color: #f9f9f9;  
  border: 1px solid #ccc;  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  width: 200px;
  /* 可以添加动画效果等 */  
}  
  
.dropdown-item {  
  /* 设置下拉菜单项的样式 */  
  padding: 5px 10px;  
  margin-bottom: 5px;  
  cursor: pointer;  
  background-color: orange;
  border-radius: 10px;
  border: none;
  width: 160px;
  color: white;
  font-weight: 700;
}